* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-section {
  margin-bottom: 20px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  
}

button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(85, 255, 47, 0.656);
}

.result-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.result-box {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  input, select, button {
    font-size: 14px;
  }

  .result-box {
    font-size: 16px;
  }
}
